<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EmuLister.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EmuLister.Properties.Settings>
            <setting name="ListHighlightColor" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ListColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BaseFontName" serializeAs="String">
                <value>8-bit madness</value>
            </setting>
            <setting name="PageSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UpperCaseList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ControllerYes" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="ControllerNo" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="ControllerUp" serializeAs="String">
                <value>Up</value>
            </setting>
            <setting name="ControllerDown" serializeAs="String">
                <value>Down</value>
            </setting>
            <setting name="ControllerLeft" serializeAs="String">
                <value>Left</value>
            </setting>
            <setting name="ControllerRight" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="ControllerQuit" serializeAs="String">
                <value>Escape</value>
            </setting>
            <setting name="ShutdownOnQuit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alphabetize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RomXmlPath" serializeAs="String">
                <value>C:\Users\Greg\Source\Repos\EmuLister\EmuLister\Roms.xml</value>
            </setting>
            <setting name="EmulatorPath" serializeAs="String">
                <value>E:\UME\ume.exe</value>
            </setting>
            <setting name="WorkingPath" serializeAs="String">
                <value>E:\UME</value>
            </setting>
            <setting name="PublisherColor" serializeAs="String">
                <value>0, 192, 192</value>
            </setting>
            <setting name="MarginTop" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MarginBottom" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MarginLeft" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MarginRight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="PagerColor" serializeAs="String">
                <value>Yellow</value>
            </setting>
        </EmuLister.Properties.Settings>
    </userSettings>
</configuration>